################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FastFetcher
/FastFetcher.API/bin
/FastFetcher.API/obj
